.icon-sprite, .icon-about, .icon-clear-big, .icon-clear, .icon-clouds-big, .icon-clouds, .icon-home, .icon-rain-big, .icon-rain {
  background: url('img/icon-sf09258e09d.png') no-repeat; }

.icon-about {
  background-position: 0 0;
  height: 32px;
  width: 32px; }

.icon-clear-big {
  background-position: 0 -182px;
  height: 72px;
  width: 72px; }

.icon-clear {
  background-position: 0 -132px;
  height: 50px;
  width: 50px; }

.icon-clouds-big {
  background-position: 0 -326px;
  height: 72px;
  width: 72px; }

.icon-clouds {
  background-position: 0 -32px;
  height: 50px;
  width: 50px; }

.icon-home {
  background-position: -32px 0;
  height: 32px;
  width: 32px; }

.icon-rain-big {
  background-position: 0 -254px;
  height: 72px;
  width: 72px; }

.icon-rain {
  background-position: 0 -82px;
  height: 50px;
  width: 50px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea {
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
body {
  color: #333;
  font-family: Arial;
  font-size: 14px;
  background-color: #FFFFFF;
  font-family: "Open Sans", "Helvetica Neue";
  background-color: #f2f2f2; }

i {
  display: inline-block; }

h3, .h3 {
  font-weight: 600; }

h4, .h4 {
  font-weight: 600;
  margin: 0; }

a {
  color: #cf9847; }

a:hover {
  color: #e7aa50; }

.loader {
  background: url(img/loader.gif) center center no-repeat rgba(57, 66, 100, 0.6);
  z-index: 500; }

/*------------------------------------*\
    $INTERFACE
\*------------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: #191c1f; }

.player {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  height: 80px;
  padding: 15px 0;
  color: #FFF;
  background-color: #282d31; }
  .player p {
    margin: 0; }
  .player .mejs-container {
    background: none; }
    .player .mejs-container .mejs-controls {
      background: none; }
  .player .mejs-controls .mejs-button button:focus {
    outline: 0 none !important; }
  .player .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px; }
  .player .mejs-controls .mejs-time-rail .mejs-time-total {
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px; }
  .player .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #e7aa50;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px; }
  .player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  .player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }

.view {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0; }

/*
.nav{

    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #4f597b;
    @include clearfix;
    a{
        display: block;
        width: 50%;
        height: 60px; line-height: 60px;
        float: left;
        @include transition-duration;
    }
    a:first-child{ border-right: 1px solid #1f253d;}
    .active{border-top: 3px solid #11a7ab;}
    i{margin-top: 15px;}
}*/
.pan, .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.left {
  -webkit-transform: translate3D(-100%, 0, 0);
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -o-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0); }

.center {
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0); }

.right {
  -webkit-transform: translate3D(100%, 0, 0);
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -o-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0); }

/*------------------------------------*\
    $Elem
\*------------------------------------*/
.row-title {
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #cb314b;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: bold; }

.row_active {
  margin: 0;
  height: 133px;
  background-color: #e54b65;
  color: white !important; }
  .row_active .date {
    position: absolute;
    top: 0;
    left: 25px; }
  .row_active .temperature {
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 70px;
    line-height: 70px; }
  .row_active i {
    position: absolute;
    top: 20px;
    right: 25px;
    left: auto; }
  .row_active i.small {
    display: none; }
  .row_active i.big {
    display: block; }

.podcasts .container {
  padding-top: 20px;
  padding-bottom: 20px; }
  .podcasts .container .wrapper {
    margin-bottom: 20px; }
    .podcasts .container .wrapper a {
      color: #333; }
    .podcasts .container .wrapper img {
      min-width: 100%;
      max-width: 100%;
      margin: 0 0 3px 0; }

.podcast .container {
  padding-top: 20px;
  padding-bottom: 20px; }
  .podcast .container .infos img {
    display: block;
    min-width: 100%;
    max-width: 100%; }
  .podcast .container .episodes {
    overflow: hidden; }
    .podcast .container .episodes .wrapper {
      overflow: hidden;
      margin: 0 0 20px;
      padding: 15px 20px;
      background: #FFF;
      position: relative;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      .podcast .container .episodes .wrapper .play {
        font-size: 27px; }
      .podcast .container .episodes .wrapper .hr {
        background: #DDD;
        height: 1px;
        margin: 10px 0;
        display: block; }

input.text {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #CCC;
  background-color: #FFF;
  color: #333;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  input.text:focus {
    border: 1px solid #11a7ab; }

input.submit, .btn {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #cf9847;
  border: #8c6224 1px solid;
  float: right;
  text-decoration: none; }

.btn {
  background-color: #11a7ab;
  float: left; }

.back {
  display: block;
  position: absolute;
  top: -60px;
  left: 0;
  background: url(img/back.png) center center no-repeat;
  z-index: 10;
  width: 60px;
  height: 60px; }
