@import "compass";

$default-transition-duration:.3s;


$icon-sprite-dimensions:true;
$icon-layout:smart;
@import "icon/*.png";

@include all-icon-sprites;

*{@include box-sizing(border-box);}
input, textarea{ border: none; -webkit-appearance: none; @include border-radius(0px); }

/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
body{    
    color: #333;
    font-family: Arial;
    font-size: 14px;
    background-color: #FFFFFF;
    font-family: "Open Sans", "Helvetica Neue";
    background-color: #f2f2f2;
}
i{display: inline-block;}
h1, .h1{  
}
h3, .h3{
    font-weight: 600;  
}
h4, .h4{
    font-weight: 600;  
    margin: 0;
}

a{
    color: #cf9847;
}
a:hover{
    color: #e7aa50;
}


.loader{
    @extend .pan;
    background:url(img/loader.gif) center center no-repeat rgba(57, 66, 100, 0.6);
    z-index: 500;
}

/*------------------------------------*\
    $INTERFACE
\*------------------------------------*/
.header{
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 40px; line-height: 40px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: #191c1f;
    
}
.player{
    position: absolute;
    top: 40px; left: 0; right: 0;
    height: 80px;
    padding: 15px 0;
    color: #FFF;
    background-color: #282d31;
    
    p{
       margin: 0; 
    }
    .mejs-container{
        background: none;

        .mejs-controls{
            background: none;
        }
    }
    .mejs-controls{
        .mejs-button button:focus {
            outline: 0 none !important;
        }
        .mejs-time-rail{
            span{
            }
            .mejs-time-loaded{
                background: rgba(255,255,255,0.1);
                 @include border-radius(12px);
            }
            .mejs-time-total{
                background: rgba(255,255,255,0.2);
                 @include border-radius(12px);
            }
            .mejs-time-current{
                background: #e7aa50;
                 @include border-radius(12px);
            }
        }
        .mejs-horizontal-volume-slider{
            .mejs-horizontal-volume-total{
                background: rgba(255,255,255,0.3);
                 @include border-radius(10px);
            }
            .mejs-horizontal-volume-current{
                background: rgba(255,255,255,1.0); 
                 @include border-radius(10px);   
            }
        }
    }
}


.view{
    position: absolute;
    top: 120px; right: 0; bottom: 0; left: 0;
}
/*
.nav{

    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #4f597b;
    @include clearfix;
    a{
        display: block;
        width: 50%;
        height: 60px; line-height: 60px;
        float: left;
        @include transition-duration;
    }
    a:first-child{ border-right: 1px solid #1f253d;}
    .active{border-top: 3px solid #11a7ab;}
    i{margin-top: 15px;}
}*/

.pan{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
    @include transition-duration(.5s);
}

.left{@include transform(translate3D(-100%, 0, 0));}
.center{@include transform(translate3D(0, 0, 0));}
.right{@include transform(translate3D(100%, 0, 0));}


/*------------------------------------*\
    $Elem
\*------------------------------------*/
.row-title{
    height: 60px; line-height: 60px;
    text-transform: uppercase;
    background-color: #cb314b;
    @include border-radius(4px 4px 0 0);
    @include background-clip(padding-box);
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.row_active{
    margin: 0;
    height: 133px;
    background-color: #e54b65;
    color: #FFF!important;
    .date{ position: absolute; top: 0; left: 25px; }
    .temperature{
        position: absolute;
        top: 45px; left: 25px;
        font-size: 70px; line-height: 70px;
    }
    i{ position: absolute; top: 20px; right: 25px; left: auto; }
    i.small{ display: none; }
    i.big{display: block;}
}


.podcasts{
    .container{
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper{
            margin-bottom: 20px;
            a{
                color: #333;
            }
            img{
               min-width: 100%;
               max-width: 100%;
               margin: 0 0 3px 0;
            }
        }
    }

}

.podcast{
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        .infos{
            img{    
                display: block;    
                min-width: 100%;
                max-width: 100%;
            } 
        }
         
        .episodes{
            overflow: hidden;

            .wrapper{
                overflow: hidden;
                margin:  0 0 20px;
                padding: 15px 20px;
                background: #FFF;
                position: relative;   
                @include border-radius(5px);   
                .play{
                    font-size: 27px;

                }
                .hr{
                    background: #DDD;
                    height:1px;
                    margin: 10px 0;
                    display: block;
                }         
            }
            .read{
                h4 {
                    color: #666;
                }
            }

            .btn{
                display: block;
                width: 200px;
                margin: 0 auto 20px;  
                &:hover{
                    background:#FFF;
                }
            }
        }
            
       
    }

}



input.text{
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #CCC;
    background-color: #FFF;
    color: #333;
    font-size: 16px;
    padding-left: 10px;
    outline:none;
    @include border-radius(4px);
    @include background-clip(padding-box);
    @include transition-duration;
    &:focus{
        border: 1px solid #11a7ab;
    }
}
input.submit{
    display: inline-block;
    padding: 0 15px;
    height: 50px; line-height: 50px;
    border: none;
    text-transform: uppercase; text-align: center;
    font-size: 16px; color: #fff;
    @include border-radius(4px);
    @include background-clip(padding-box);
    background-color: #cf9847;
    border: darken(#cf9847,20%) 1px solid;
    float: right;
    text-decoration: none;
}
.back{
    display: block;
    position: absolute;
    top: -60px; left: 0;
    background:url(img/back.png) center center no-repeat;
    z-index: 10;
    width: 60px; height: 60px;
}