@import "compass";

$default-transition-duration:.3s;


$icon-sprite-dimensions:true;
$icon-layout:smart;
@import "icon/*.png";

@include global-reset;
@include all-icon-sprites;

*{@include box-sizing(border-box);}
input, textarea{ border: none; -webkit-appearance: none; @include border-radius(0px); }

/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
body{
    color: #333;
    font-family: Arial;
    font-size: 16px;
    background-color: #FFFFFF;
}
i{display: inline-block;}
h1{font-size: 28px; text-align: center; color: #333; font-weight: bold; margin: 45px 0; }
p{margin: 1em 0px; @include clearfix;}
input.text{
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #CCC;
    background-color: #FFF;
    color: #333;
    font-size: 16px;
    padding-left: 10px;
    outline:none;
    @include border-radius(4px);
    @include background-clip(padding-box);
    @include transition-duration;
    &:focus{
        border: 1px solid #11a7ab;
    }
}
input.submit, .btn{
    display: inline-block;
    padding: 0 15px;
    height: 50px; line-height: 50px;
    border: none;
    text-transform: uppercase; text-align: center;
    font-size: 16px; color: #fff;
    @include border-radius(4px);
    @include background-clip(padding-box);
    background-color: #cf9847;
    border: darken(#cf9847,20%) 1px solid;
    float: right;
    text-decoration: none;
}
.btn{
    background-color: #11a7ab;
    float: left;
}
.back{
    display: block;
    position: absolute;
    top: -60px; left: 0;
    background:url(img/back.png) center center no-repeat;
    z-index: 10;
    width: 60px; height: 60px;
}
.loader{
    @extend .pan;
    background:url(img/loader.gif) center center no-repeat rgba(57, 66, 100, 0.6);
    z-index: 500;
}

/*------------------------------------*\
    $INTERFACE
\*------------------------------------*/
.header{
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 60px; line-height: 60px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    background-color: #343434;
}

.view{
    position: absolute;
    top: 60px; right: 0; bottom: 0; left: 0;
}
/*
.nav{

    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #4f597b;
    @include clearfix;
    a{
        display: block;
        width: 50%;
        height: 60px; line-height: 60px;
        float: left;
        @include transition-duration;
    }
    a:first-child{ border-right: 1px solid #1f253d;}
    .active{border-top: 3px solid #11a7ab;}
    i{margin-top: 15px;}
}*/

.pan{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
    @include transition-duration(.5s);
}
.pan-padding{ padding:0 25px; }

.left{@include transform(translate3D(-100%, 0, 0));}
.center{@include transform(translate3D(0, 0, 0));}
.right{@include transform(translate3D(100%, 0, 0));}


/*------------------------------------*\
    $Elem
\*------------------------------------*/
.row-title{
    height: 60px; line-height: 60px;
    text-transform: uppercase;
    background-color: #cb314b;
    @include border-radius(4px 4px 0 0);
    @include background-clip(padding-box);
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.row{
    overflow: hidden;
    height: 60px;
    border-bottom: 1px solid #EEE ;
    margin: 1px 0;
    position: relative;
    img{
       width: 50px;
    }
    i.big{display: none;}
    .temperature{
        color: #fff;
        font-size: 18px;
        position: absolute;
        right: 20px;
        line-height: 60px;
    }
    strong{ color: #fff; text-transform: uppercase; }
    .date{
        line-height: 60px;
        font-size: 16px;
        position: absolute;
        left: 90px; top: 0;
    }
}
.row_active{
    margin: 0;
    height: 133px;
    background-color: #e54b65;
    color: #FFF!important;
    .date{ position: absolute; top: 0; left: 25px; }
    .temperature{
        position: absolute;
        top: 45px; left: 25px;
        font-size: 70px; line-height: 70px;
    }
    i{ position: absolute; top: 20px; right: 25px; left: auto; }
    i.small{ display: none; }
    i.big{display: block;}
}

