.icon-sprite, .icon-about, .icon-clear-big, .icon-clear, .icon-clouds-big, .icon-clouds, .icon-home, .icon-rain-big, .icon-rain {
  background: url('img/icon-sf09258e09d.png') no-repeat; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.icon-about {
  background-position: 0 0;
  height: 32px;
  width: 32px; }

.icon-clear-big {
  background-position: 0 -182px;
  height: 72px;
  width: 72px; }

.icon-clear {
  background-position: 0 -132px;
  height: 50px;
  width: 50px; }

.icon-clouds-big {
  background-position: 0 -326px;
  height: 72px;
  width: 72px; }

.icon-clouds {
  background-position: 0 -32px;
  height: 50px;
  width: 50px; }

.icon-home {
  background-position: -32px 0;
  height: 32px;
  width: 32px; }

.icon-rain-big {
  background-position: 0 -254px;
  height: 72px;
  width: 72px; }

.icon-rain {
  background-position: 0 -82px;
  height: 50px;
  width: 50px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea {
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
body {
  color: #333;
  font-family: "Ubuntu";
  font-size: 16px;
  background-color: #FFFFFF; }

i {
  display: inline-block; }

h1 {
  font-size: 28px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin: 45px 0; }

p {
  margin: 1em 0px;
  overflow: hidden;
  *zoom: 1; }

input.text {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #CCC;
  background-color: #FFF;
  color: #333;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  input.text:focus {
    border: 1px solid #11a7ab; }

input.submit, .btn {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #cf9847;
  border: #8c6224 1px solid;
  float: right;
  text-decoration: none; }

.btn {
  background-color: #11a7ab;
  float: left; }

.back {
  display: block;
  position: absolute;
  top: -60px;
  left: 0;
  background: url(img/back.png) center center no-repeat;
  z-index: 10;
  width: 60px;
  height: 60px; }

.loader {
  background: url(img/loader.gif) center center no-repeat rgba(57, 66, 100, 0.6);
  z-index: 500; }

/*------------------------------------*\
    $INTERFACE
\*------------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  background-color: #343434; }

.view {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  left: 0; }

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #4f597b;
  overflow: hidden;
  *zoom: 1; }
  .nav a {
    display: block;
    width: 50%;
    height: 60px;
    line-height: 60px;
    float: left;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .nav a:first-child {
    border-right: 1px solid #1f253d; }
  .nav .active {
    border-top: 3px solid #11a7ab; }
  .nav i {
    margin-top: 15px; }

.pan, .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.pan-padding {
  padding: 0 25px; }

.left {
  -webkit-transform: translate3D(-100%, 0, 0);
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -o-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0); }

.center {
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0); }

.right {
  -webkit-transform: translate3D(100%, 0, 0);
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -o-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0); }

/*------------------------------------*\
    $Elem
\*------------------------------------*/
.row-title {
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #cb314b;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: bold; }

.row {
  overflow: hidden;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
  margin: 1px 0;
  position: relative; }
  .row img {
    width: 50px; }
  .row i.big {
    display: none; }
  .row .temperature {
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 20px;
    line-height: 60px; }
  .row strong {
    color: #fff;
    text-transform: uppercase; }
  .row .date {
    line-height: 60px;
    font-size: 16px;
    position: absolute;
    left: 90px;
    top: 0; }

.row_active {
  margin: 0;
  height: 133px;
  background-color: #e54b65;
  color: white !important; }
  .row_active .date {
    position: absolute;
    top: 0;
    left: 25px; }
  .row_active .temperature {
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 70px;
    line-height: 70px; }
  .row_active i {
    position: absolute;
    top: 20px;
    right: 25px;
    left: auto; }
  .row_active i.small {
    display: none; }
  .row_active i.big {
    display: block; }
