<section>

    <div class="loader" ng-show="loader"></div>

    <section
        class="pan pan-padding podcasts">
        
        <div class="container">
        	<div class="row">
        	    <div class="col-sm-2 wrapper" ng-repeat="podcast in podcasts | orderBy:'-lastPub'">
                    <a href="#/{{podcast.alias}}">
                        <img src="podcasts/{{ podcast.cover }}" class="pull-left" alt="">
                    </a>
                </div>
        	</div>
        </div>

        

    </section>



</section>