<section>

    <div class="loader" ng-show="loader"></div>

    <section
        class="pan pan-padding podcast">
            <div class="container">
                <h1>{{nom}}</h1>
                <img src="{{cover}}" class="pull-left" />
                <div class="episodes">
                    <div class="row" ng-repeat="episode in episodes | limitTo : numLimit"  id="podcast{{$index}}">
                        <h3>{{episode.title}}</h3>
                        <p>{{episode.dateFr}}</p>
                        <audio src='{{episode.url}}' ng-audio controls ></audio>
                    
                    </div>
                    <a href="" ng-click="numLimit = numLimitMax">voir tout</a>
                </div>
            </div>

    </section>



</section>