<section>

    <div class="loader" ng-show="loader"></div>

    <section
        class="pan pan-padding podcast">
            <div class="container">
                <h1>{{nom}}</h1>
                <p>{{description}}</p>
                <img src="podcasts/{{cover}}" class="pull-left" />
                <div class="episodes">
                    <div class="row" ng-repeat="episode in episodes | orderBy:'-dateTs' | limitTo : numLimit"  id="podcast{{$index}}">
                        <h3>{{episode.title}}</h3>
                        <p>{{episode.dateFr}}</p>
                        <p>
                            <a href='' ng-click="playPod(episode)">Play</a>
                        </p>
                        <!-- <audio src='{{episode.url}}'  controls ></audio> -->
                    
                    </div>
                    <a href="" ng-click="numLimit = numLimitMax">voir tout</a>
                </div>
            </div>

    </section>



</section>